<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<<device-width>>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>cadstro
    <form method = "POST" action = "/projeto/atualizar/?_method=put">
    nome <input type="text" name ="nome"/>
    cpf <input type="text" name = "cpf"/><input type="submit" value="cpf"/>
    </form>
</body>
</html>

    
